<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <main>

     <li>
       <%= link_to "Sing up", new_user_registration_path %>
     </li>
     <li>
       <%= link_to "Log in", new_user_session_path %>
     </li>

    </main>

  </body>
</html>
